<div class="fetching-block" *ngIf="fetching">
  <div class="lds-ring">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <p>Fetching...</p> 
</div>

<!--<ion-card *ngFor="let item of sqdata;let i = index;">

  <div class="drescription-back">
    <div class="head minus" (click)="toggleAccordian($event, i)" [class.plus]="plus">{{item.testname}}</div>
    <div class="main details_back" *ngIf="expanded" [innerHtml]="item.testdes">
    </div>
  </div>
  
  
  <div class="details_back">
    <ul class="item">
      <li *ngFor="let item of item.child;let j = index;" [routerLink]="['/', 'practice-question', item.link]"    expand="block"><span>{{item.title}}</span></li>
    </ul>
  </div> 
</ion-card>-->
<div class="short-new-back">
  <div class="short-question-item" *ngFor="let item of sqdata;let i = index;">
    <div class="accordion-back">
      <div class="heading accordion">
        {{item.testname}}
        <div class="icon-back" (click)="toggleAccordian($event, i)"></div>
      </div>
      <div class="details_back">
        <div id="scroll-min" >
          <p [innerHTML]="item.testdes"></p>
        </div>
      </div>
    </div>
  </div>
</div>


