<div class="entry-point-back">
    <div>
        <a [routerLink]="['/home']"><img src="assets/images/avatto-web-white.png" alt=""></a>
        <p> Get Study Material Practice Questions, Quiz, Mock Test and Solved Papers</p>
        <ul class="button-list">
            <li><a [routerLink]="['/sign-in']" class="yellow">sign in</a></li>
            <li><a [routerLink]="['/sign-up']" class="white-border">register</a></li>
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">skip now</a></li>
            
        </ul>
    </div>
  
</div>
