
<ion-content>
  <div class="orders">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">
          <ion-icon name="cube-outline"></ion-icon>
          Order Details
        </ion-card-title>
      </ion-card-header>
      <ion-icon name="close-outline" class="close_modal" (click)="dismiss()"></ion-icon>
    </ion-card>
  </div>
  
  <!--<ion-list *ngFor="let orderContent of orderList" >
    <ion-item *ngFor="let product of orderContent.line_items" >
      <ion-label slot="start" >{{product.name}}</ion-label>
      <ion-label slot="end" > {{product.currency_symbol}}. {{product.price}}</ion-label>
      <ion-label> Status : {{orderContent.status}} </ion-label>
    </ion-item>
  </ion-list>-->
  <div class="main-orders">
    <ion-list>
    <ion-item>
      <ion-avatar slot="start" class="ios hydrated">
        <img src="assets/images/eli-i1.png">
      </ion-avatar>
      <ion-label>
        <h2>ugc net paper 1</h2>
        <h3>$200</h3>
        <p>Order Success</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start" class="ios hydrated">
        <img src="assets/images/eli-i1.png">
      </ion-avatar>
      <ion-label>
        <h2>ugc net computer science</h2>
        <h3>$200</h3>
        <p>Order Pending</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start" class="ios hydrated">
        <img src="assets/images/eli-i1.png">
      </ion-avatar>
      <ion-label>
        <h2>ugc net paper 1</h2>
        <h3>$200</h3>
        <p>Order Success</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start" class="ios hydrated">
        <img src="assets/images/eli-i1.png">
      </ion-avatar>
      <ion-label>
        <h2>ugc net computer science</h2>
        <h3>$200</h3>
        <p>Order Pending</p>
      </ion-label>
    </ion-item>
   
  </ion-list>
  </div>

  
  
</ion-content>
