<div class="login-back">
  <div class="logo-cover">
    <a [routerLink]="['/entrypoint']"><ion-icon class="back" name="arrow-back-outline"></ion-icon></a>
    <img src="{{mainlogo}}" alt="">
  </div>
  <div class="login-main-back">
    <h3>Welcome back!</h3>

    <!--<form [formGroup]="userForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ul class="button-list">
        <li><ion-button expand="full" [disabled]="!userForm.valid" type="submit">Sign in</ion-button></li>
        <li style="margin-bottom: 0;"><a class="yellow" [routerLink]="['/sign-up']">Register</a></li>
        <li> <ion-button expand="full" type="button" color="tertiary" (click)="openPwReset()">Forgot password?</ion-button></li>
      </ul>
    </form>-->
    


    <form [formGroup]="userForm" (ngSubmit)="login()">
      <div class="form-portion">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="text" formControlName="username" placeholder="Your email adress"></ion-input>
      </div>
      <div class="form-portion">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" formControlName="password" placeholder="Your password"></ion-input>
      </div>
      
        <ul class="button-list">
          <li><ion-button class="blue-border" color="button_transparent" expand="full" [disabled]="!userForm.valid" type="submit">Login</ion-button></li>
          <li style="margin-bottom: 0;"><a class="yellow" [routerLink]="['/sign-up']">Register</a></li>
          <li><a (click)="openPwReset()">Forgot password?</a>
        </ul>
     
      
    </form>



  </div>
</div>


