<div class="avatoo-section">
  <div class="fetching-block" *ngIf="fetching" >
    <div>
      <div class="lds-ring">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p>Fetching...</p>
    </div>
  </div>
  <ion-grid class="papers-details">
    <div class="new-category-section">
    <ion-row>
      <ion-col size-lg="12" size-md="12" size-sm="12" size="12" *ngFor="let cat of papers">
        <!--<ion-card [routerLink]="['/cat.link']" >
          <div class="image-box">
            <img src="{{cat.icon}}">
          </div>
          <ion-card-header>
            <ion-card-title class="card-title">{{cat.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>-->
        
          <div class="section" [routerLink]="[cat.link]">
            <div>
              <div class="image-back">
                <img src="{{cat.icon}}">
              </div>
              <div class="card-title">{{cat.name}}</div>
              <ion-icon></ion-icon>
            </div>
          </div>
      </ion-col>
    </ion-row>
  </div>
  </ion-grid>
</div>





